---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';
import { YouTube } from 'astro-embed';

const posts = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		
		<BaseHead title={"Projects / Akhilesh Kr Sharma"} 
			description={SITE_DESCRIPTION} 
  		/>				

		<style> 
			
			.project-content{
				border: 1px #e0e0e0 solid;
				border-radius: 4px;
				padding: 1rem 0;
				margin-bottom: 1rem;
				font-size: 1rem;
				background-color: #fbfbfb;
			}

			li{
				ul {
					list-style-type: disc;
					margin: 0;
					padding-left: 1rem;
					padding-bottom: -1rem;
				}

				li {
					line-height: 1.7rem;
				}
			}

			.project-title{
				margin: 0rem;
			}

			.deployment-link{
				border-radius: 4px;
				text-underline-offset: 3px;
				border: 1px solid var(--accent);
				color: var(--accent);
				padding: 1px 10px;
				font-size: 1rem;
				text-decoration: none;
			}

			.deployment-link:hover{
				color: white;
				background-color: var(--accent);
			}


			.yt-embed{ 
				max-width: 40rem;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
				border-radius: 10px; 	
				margin: 2rem 1rem 1rem 1rem;
			}
 

			@media (max-width: 720px) {
				li{
					ul {
						list-style-type: disc;
						margin: 0;
						padding-left: 2rem;
					}

					li {

					}
				}
			}
			
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="text-5xl text-neutral-950">Personal projects</p>
				<p>This page lists some of my personal projects, also available on <a href="https://github.com/akhilsharmaa">Github</a>.</p>

				<ul>
					{
						posts.map(async (post) => {
						  // Destructure the Astro <Content/> component out
						  const { Content } = await render(post);
			
						  // Then return your UI
						  return (
						  <hr>

							<li id={post.id}>
								<p class="mb-2 text-xl color-primary">
									<FormattedDate date={post.data.pubDate} />
								</p>

								<div class="flex flex-wrap items-center justify-between ">
									<h1 class="text-3xl project-title">{post.data.title}</h1> 
									<div>
										 <a href={post.data.codeLink}>github</a>
 									</div>
								</div>

								{
									post.data.deploymentLink && 
									<a class="deployment-link"
											href={post.data.deploymentLink}>
												{post.data.deploymentLink}
									</a> 
								}
								
								<a href="post.data.codeLink"></a>
								<p class="text-xl">{post.data.description}</p>  

								<div class="project-content">
									<Content />
								</div>

								{post.data.tags && post.data.tags.map((tag)=> (
									<tag class="text-xl">{tag}</tag>
								))} 

								{post.data.demoLink && 
								<div class="mt-10">
									<YouTube class="yt-embed" id={post.data.demoLink} /> 
								</div>
								}
							</li>
							<br>
						  );
						})
					  }
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
