---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);



---

<!doctype html>
<html lang="en">
	<head>

	<BaseHead title={"Blogs / Akhilesh Kr Sharma"} 
			  description={SITE_DESCRIPTION} 
		/>		
	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="text-5xl text-neutral-950">Blog posts</p>
				<p>This page lists some of my blogs , also available on <a href="https://medium.com/@akhilsharmaa">medium</a>.</p>

				<hr>
				<ul>
					{
						posts.map((post) => (
							<li>
								<p class="text-xl h-3"><FormattedDate date={post.data.pubDate} /> </p> 
								<div class="flex flex-wrap items-center justify-between ">
									<a class="text-2xl"
										href={`/blog/${post.id}`} > {post.data.title}</a> 
									<div>
										{/* <a href={post.data.description}>github</a> */}
									</div>
								</div>
								<p class="text-xl">{post.data.description}</p> 
								<br>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>

	<style> 
			.project-content{
				border: 1px #e0e0e0 solid;
				border-radius: 4px;
				margin-bottom: 1rem;
				font-size: 1rem;

			}

			li{
				ul {
					list-style-type: disc;
					margin: 0;
					padding-left: 4rem;
					padding-bottom: -1rem;
				}

				li {
					line-height: 1.6rem;
				}
			}

			tag{
				padding-top: -5rem;
				font-size: 1rem;
				color: white;
				background-color: var(--accent);
				padding: 0.1rem .75rem;
				margin:  0rem .5rem .5rem 0rem  ;
				border-radius: 2rem;
				border: 1px solid var(--accent);
			}

			@media (max-width: 720px) {
				li{
					ul {
						list-style-type: disc;
						margin: 0;
						padding-left: 2rem;
					}

					li {

					}
				}
			}
		</style>

</html>
