---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ImageCarosel from '../components/ImageCarosel.astro';
import { HighlightSpanKind } from 'typescript';
import { getCollection } from 'astro:content'; 
import FormattedDate from '../components/FormattedDate.astro';
import { render } from 'astro:content';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 	title={"Akhilesh Kr Sharma / Personal Website"} 
					description={SITE_DESCRIPTION} 
				/>
	</head>
	<body class="">
	<Header />		
		<main>
				<div class="header-top  md:text-left text-center"> 
					<p class="text-3xl"><span class="text-gray-600">Hey, I'm  </span>
						<highlight >Akhilesh</highlight>
						<span class="surname">Kumar Sharma.</span>
					</p>
					<p>Currently pursuing my <highlight> Bachelor's </highlight> degree in 
						Computer Science at the
					   	Heritage Institute of Technology, Kolkata,  
					 	with an from 2022 to 
						<highlight> 2026. </highlight> 			
					</p>  

					<p>
						During summer of 2024, 
						I joined <a href="https://www.faralpha.com/">@Faralpha Technology</a> as <highlight >  SDE Intern </highlight>  for 3 months 
						where I worked on  Web Scraping with Selenium, CI/CD pipelines, AWS, Terraform, ReactJs, ESP32 Board, Flutter, Firebase, WiFi provisioning, and backend services.
					</p>

					<img src="./my-image.png" alt="Placeholder Image" class="profile-image" />
			</div>


				<p> I really enjoy solving   <highlight> data-structure & algorithms </highlight>  problems and, competing
					in competitive programming contests . 
					—it helps in improving my problem-solving skills. 
				</p>

				<div class="grid gap-4 md:grid-cols-3 lg:w-4/5 w-full">
					<div><Leetcode /></div>
					<div><CodeForces /></div>
					<div><Atcoder /></div>
				</div>

				<br> 

			</div>

			<br>
			<p>Some of the personal <highlight> Projects </highlight>
					available in (<a href="https://github.com/akhilsharmaa">github</a>) are - </p>
			
			
				 <div class='flex i '>
					<p class="text-4xl">
						Projects
						<sup>					
							<a class="text-xl" href="project"> (view all) </a>
						</sup>
					</p> 
				 </div>
			
			<ul>{
				projects.map(async (project) => {

					const { Content } = await render(project);

					return (<li>
						<p class="mb-2 text-xl color-primary">
							<FormattedDate date={project.data.pubDate} />
						</p>

						<p class="text-2xl m-0">
							{project.data.title}
						</p>
 
						<p class="mt-0 mb-0">
							{ project.data.deploymentLink && 
							<a class="deployment-link"
								href={project.data.deploymentLink}>
									{project.data.deploymentLink}
							</a>} 
							
							{project.data.tags.map((tag)=> (
								<tag class="text-sm">{tag}</tag>
							))}
						</p>  

						<p class="text-xl project-decription mt-2 mb-1"> 
							{project.data.description}
							<a href={`/project#${project.id}`}> 
								...view more
							</a>
						</p>
 

						<br>

					</li>
				)})
				}
			</ul>
			
		</main>	  



		<ImageCarosel />

		<main>
			
			<p>Whenever, I get to know something new or interesting, I try to document it in the form of blogs.
			   You can checkout some of the blogs that I have written -
			</p>
			<h4>Blogs</h4>
			<ul>
				{
					blogs.map((blog) => (
						<li>
							<a href={`/blog/${blog.id}/`}>
								<p class="blog-title">{blog.data.title}</p>
							</a>
							<p class="text-base blog-decription"> 
								<span class="color-primary">
									<FormattedDate date={blog.data.pubDate} />: 
								</span>  
								{blog.data.description}</p>
							<sup class="text-sm ps color-primary date">
								
							</sup>
						</li>
					))
				}
			</ul>

		</main>	
	<Footer />
	</body>

	<style>

		.header-top{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		
		@media (max-width: 768px) {

			.header-top{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
			}
			
			.homepage {
				flex-direction: column;
			}

			#carousel-image{
				height: 22rem;
			}

			.surname{
				display: none;
			}
		}

		.blog-title{
			padding-top: 0px;
			margin: 0px;
		}


		.project-content{
			border: 1px #e0e0e0 solid;
			border-radius: 4px;
			padding: 1rem 0;
			margin-bottom: 1rem;
			font-size: 1rem;
			background-color: #fbfbfb;
		}
 

		li{
			ul {
				list-style-type: disc;
				margin: 0;
				padding-left: .75rem;
				padding-bottom: -1rem;
			} 
		}

		.deployment-link{
			/* padding: 0px; */
			border-radius: 4px;
			text-underline-offset: 3px;
			border: 1px solid var(--accent);
			color: var(--accent);
			padding: 1px 8px;
			margin-right: 0.5rem;
			font-size: 1rem;
			text-decoration: none;
		}

		.profile-image{
			width: 12rem;
			height: 12rem;
			margin: 0;
			padding: 0;
			object-fit: cover;
			right: 0rem;
			border-radius: 100%;
		}
		

		main p {  
			width:  70%;
		}

		@media (max-width: 720px) {
			body {
				font-size: 18px; 
				width: 100%; 
			}
			main {
				padding: 1em;
			}

			main p {  
				width: 94%;
			}
		}

	</style>
	
</html>
