---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ImageCarosel from '../components/ImageCarosel.astro';
import { HighlightSpanKind } from 'typescript';
import { getCollection } from 'astro:content'; 
import FormattedDate from '../components/FormattedDate.astro';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projects = (await getCollection('project')).sort(
	(a, b) => b.data.rank.valueOf() - a.data.rank.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
	<Header />		
		<main>
				<div class="flex flex-wrap items-center justify-between ">
					<div class="md:w-3/4 w-full"> 
						<p class="text-3xl"><span class="text-gray-600">Hey, I'm  </span><highlight >Akhilesh</highlight><span class="surname"> Kumar Sharma</span>.</p>
						<p>Currently pursuing my <highlight> Bachelor's </highlight> degree in 
								 Computer Science at the
								   Heritage Institute of Technology, Kolkata,  
								 with an expected graduation from 2022 to 
								<highlight> 2026. </highlight> 			
						</p> 
					</div>
					<img src="./my-image.png" alt="Placeholder Image" class="profile-image" />
				</div>

				<hr class="h-px my-4 bg-gray-200 border-0">

				<p>
					During summer vacation of 2024, 
					I have joined <a href="https://lightspeedai.com/">LightSpeedAI Labs </a> as <highlight >  SDE Intern </highlight>  for 3 months 
					where I worked on  Web Scraping with Selenium, CI/CD pipelines, AWS, Terraform, ReactJs, ESP32 Board, Flutter, Firebase, WiFi provisioning, and backend services.
				</p>

				<br>

				<p> I really enjoy solving  data-structure & algorithms  problems and, competing
					in <highlight> competitive programming </highlight> contests . 
					—it helps in improving my problem-solving skills. 
				</p>

				<div class="grid gap-4 md:grid-cols-3 lg:w-4/5 w-full">
					<div><CodeForces /></div>
					<div><Leetcode /></div>
					<div><Atcoder /></div>
				</div>

				<br> 

			</div>

			<br>
			<p>Some of the personal <highlight> Projects </highlight>
				 that i have build are - </p>
			
			
			<h4>Projects 
				<a class="text-xl" href="">(github)</a>
			</h4>
			
			<ul>
				{projects.map((project) => (
					<li>
						<p class="project-title">
							{project.data.title}
							<sup>
								<a href="#view">view details</a>
							</sup>
						</p>
						<a class="deployment-link"
								href={project.data.deploymentLink}>
								{project.data.deploymentLink}
						</a>
						<p class="text-base project-decription"> 
							{project.data.description}</p>
							<sup class="text-sm ps color-primary date">
							</sup>
					</li>
				))}
			</ul>

		</main>	  



		<ImageCarosel />

		<main>
			
			<p>Whenever, I get to know something new or interesting, I try to document it in the form of blogs.
			   You can checkout some of the blogs that I have written -
			</p>
			<h4>Blogs</h4>
			<ul>
				{
					blogs.map((blog) => (
						<li>
							<a href={`/blog/${blog.id}/`}>
								<p class="blog-title">{blog.data.title}</p>
							</a>
							<p class="text-base blog-decription"> 
								<span class="color-primary">
									<FormattedDate date={blog.data.pubDate} />: 
								</span>  
								{blog.data.description}</p>
							<sup class="text-sm ps color-primary date">
								
							</sup>
						</li>
					))
				}
			</ul>

		</main>	

	<Footer />
	</body>

	<style>

		@media (max-width: 768px) {
			.homepage {
				flex-direction: column;
			}

			#carousel-image{
				height: 22rem;
			}

			.surname{
				display: none;
			}
		}

		.blog-title{
			padding-top: 0px;
			margin: 0px;
		}

		.project-title{ 
			padding-bottom: -0px;
			margin-bottom: -5px;
		} 

		.deployment-link{
			/* padding: 0px; */
			border-radius: 100px;
			text-underline-offset: 3px;
			border: 1px solid var(--accent);
			color: var(--accent);
			padding: 1px 10px;
			font-size: 1rem;
			text-decoration: none;

		}

		.blog-decription, .project-decription{
			font-size: 1rem;
		}

		.profile-image{
			width: 12rem;
		}
		

	</style>
	
</html>
