---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ImageCarosel from '../components/ImageCarosel.astro';
import { HighlightSpanKind } from 'typescript';
import { getCollection } from 'astro:content'; 
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);




---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
	<Header />		
		<main>
				<div class="flex flex-wrap items-center justify-between ">
					<div class="md:w-3/4 w-full"> 
						<p class="text-3xl"><span class="text-gray-600">Hey, I'm  </span><highlight >Akhilesh</highlight><span class="surname"> Kumar Sharma</span>.</p>
						<p>Currently pursuing my <highlight> Bachelor's </highlight> degree in 
								 Computer Science at the
								   Heritage Institute of Technology, Kolkata,  
								 with an expected graduation from 2022 to 
								<highlight> 2026. </highlight> 			
						</p> 
					</div>
					<img src="./my-image.png" alt="Placeholder Image" class="profile-image" />
				</div>

				<hr class="h-px my-4 bg-gray-200 border-0">

				<p>
					During summer vacation of 2024, 
					I have joined <a href="https://lightspeedai.com/">LightSpeedAI Labs </a> as <highlight >  SDE Intern </highlight>  for 3 months. 
					where, I worked on  Web Scraping with Selenium, CI/CD pipelines, AWS, Terraform, ReactJS, ESP32 Board, Flutter, Firebase, WiFi provisioning, and backend services.
				</p>

				<br>

				<p> I really enjoy solving  data-structure & algorithms  problems and, competing
					in <highlight> competive programming </highlight> contests . 
					—it’s helps to improve my problem-solving 
					 and then use them to build cool, real-world stuffs. 
				</p>

				<div class="grid gap-4 md:grid-cols-3 lg:w-4/5 w-full">
					<div><CodeForces /></div>
					<div><Leetcode /></div>
					<div><Atcoder /></div>
				</div>

				<br> 

			</div>
		</main>	  

		<ImageCarosel />

		<main>
			
			<p>whenever, i got to know something new or interesting, i try to document it in form of blog and share it to the world. 
			   you can checkout some of the blogs that i have written -  
			</p>

			
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								<p class="blog-title">{post.data.title}</p>
							</a>
							<p class="text-base blog-decription">  {post.data.description}</p>
							<p class="text-sm date">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</li>
					))
				}
			</ul>

		</main>	

	<Footer />
	</body>

	<style>

		@media (max-width: 768px) {
			.homepage {
				flex-direction: column;
			}

			#carousel-image{
				height: 22rem;
			}

			.surname{
				display: none;
			}
		}

		.blog-title{
			padding-top: 0;
			margin: 0;
		}

		.profile-image{
			width: 12rem;
		}
		
		ul{
			padding-left: 2rem;
		}


	</style>
	
</html>
