---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ImageCarosel from '../components/ImageCarosel.astro';
import { getCollection } from 'astro:content'; 
import FormattedDate from '../components/FormattedDate.astro';
import { render } from 'astro:content';
import Abbr from '../components/Abbr.astro';
import Toast from '../components/Toast.astro';
import OrgTag from '../components/Tags/OrgTag.astro';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 	title={"Akhilesh Kumar Sharma"} 
					description={SITE_DESCRIPTION} 
				/>
	</head>
	<body class="">
	<Header />		
		<main>
				<p class="pb-8 md:text-4xl md:text-left text-center text-3xl slogan italic">Developer / Tinkerer / Student</p>
				<img class="profile-image" src="assets/profile.jpeg" alt="Placeholder Image" />
				<p class="half">Currently pursuing bachelor's  in computer science at 
					<a href="https://www.heritageit.edu/">
						<Abbr title="Heritage," description="Hertage Institute of Technology, Kolkata \n \t Go to https://www.heritageit.edu/" showLogo=false/> 
					</a>
					 Kolkata, from 2022—2026. </p>  
				<p class="half">During summer of 2024, I joined  
					<a href="https://www.faralpha.com/"><Abbr title="@FarAlpha" description="FarAlpha Technologies, Delhi https://www.faralpha.com/" showLogo=false/></a>
					as <span class="circle-sketch-highlight"> SDE Intern</span>. I worked on CI/CD pipelines, AWS, Terraform,  NodeJs, FastAPI, Web-Scraping, Selenium, 
					ReactJs, Flutter & Firebase. 
				</p>

				<p class="half" >I love contributing to <a href="/open-source">open-source</a> & had some pull request merged in organization  
					<OrgTag 
						title="OpenWISP" 
						description="OpenWISP is a collection of modules and libraries to build Open Source Network Management Systems."
					/>.
					<a  class="text-base" href="/open-source">(view all)</a> 
				</p>
			</div>

			<br>
			<p class="half"> 
				I enjoy solving  data-structure & algorithms problems. 
					—it helps in improving my problem-solving skills. 
			</p>
			<div class="grid gap-4 md:grid-cols-2 lg:w-4/6 w-full">
				<Leetcode />
				<CodeForces />
				<!-- <Atcoder /> -->
			</div>
			<br>
				 <div class='flex i '>
					<h4 class="text-4xl">
						Personal Projects
						<sup>					
							<a class="text-xl" href="project"> (view all) </a>
						</sup>
					</h4> 
				 </div>
			
				 <p class="half">All of my personal are projects <highlight> available </highlight>
					 in (<a href="https://github.com/akhilsharmaa">github</a>) are - </p>
					
			<ul class="half">{
				projects.map(async (project) => {

					const { Content } = await render(project);

					return (<li>

						<p class="text-2xl m-0">
							{project.data.title}
						</p>
 
						<p class="mt-0 mb-0">
							{ project.data.deploymentLink && 
							<a class="deployment-link"
								href={project.data.deploymentLink}>
									{project.data.deploymentLink}
							</a>} 
							
							{project.data.tags.map((tag)=> (
								<tag class="text-sm">{tag}</tag>
							))}
						</p>  

						<p class="project-decription mt-2 text-xl mb-1"> 
							{project.data.description}
							<a href={`/project#${project.id}`}> 
								...view more
							</a>
						</p>
 
						<p class="mb-2 text-base text-gray-500">
							<FormattedDate date={project.data.pubDate} />
						</p>

						<br>

					</li>
				)})
				}
			</ul>
		</main>	  

		<ImageCarosel />

		<main>
			
			<p class="half">Whenever, I get to know something new or interesting, I try to document it in the form of blogs.
			   You can checkout some of the blogs that I have written -
			</p>
			<h4 class="half">Blog posts </h4>
			<ul class="half">
				{
					blogs.map((blog) => (
						<li class="mb-1">
							<p class="mb-0 text-gray-500 text-xl">
								<FormattedDate date={blog.data.pubDate} />
							</p>
							<a href={`/blog/${blog.id}/`}>
								<span class="text-2xl">{blog.data.title}</span>
							</a>
							<p class="text-base text-gray-600"> 
								{blog.data.description}
							</p>
						</li>
					))
				}
			</ul>

		</main>	

		<Toast 
			title="Check out my new project 'rockettyping'"
			description="You can play multiplayer typing game with you friends."
			button="Play Now"
			link="https://rockettyping.onrender.com/"
		/>
	
	<Footer />
	</body>

	<style>


		.half {  
			max-width:  75%;
		}

		.profile-image{
			float: right;
			background-color: rgb(201, 201, 201);
			display: inline-block;
			text-align: right;
			margin: 1rem;
		}

		.header-top{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		@media (max-width: 768px) {
				

			.half {  
				max-width:  95%;
			}

			.homepage {
				flex-direction: column;
			}

			.profile-image {
				float: none;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				margin: 0.5rem auto;
			}
			
			#carousel-image{
				height: 22rem;
			}

			.surname{
				display: none;
			}
		}

		.project-content{
			border: 1px #e0e0e0 solid;
			border-radius: 4px;
			padding: 1rem 0;
			margin-bottom: 1rem;
			font-size: 1rem;
			background-color: #fbfbfb;
		}
 

		li{
			ul {
				list-style-type: disc;
				margin: 0;
				padding-left: .75rem;
				padding-bottom: -1rem;
			} 
		}

		.deployment-link{
			/* padding: 0px; */
			border-radius: 4px;
			text-underline-offset: 3px;
			border: 1px solid var(--accent);
			color: var(--accent);
			padding: 1px 8px;
			margin-right: 0.5rem;
			font-size: 1rem;
			text-decoration: none;
		}
		
		.profile-image{
			width: 14rem;
			height: 14rem;
			padding: 0;
			object-fit: cover;
			filter: grayscale(100%);
			right: 0rem;
			border-radius: 100%;
		}

		@media (max-width: 1080px) {
			body {
				width: 100%; 
			}

			.profile-image{
				
			}
		}



	</style>
	
</html>
