---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';
import { YouTube } from 'astro-embed';
import Abbr from '../../components/Abbr.astro';
import OrgTag from '../../components/Tags/OrgTag.astro';
import GithubTag from '../../components/Tags/GithubTag.astro';
import StatusTag from '../../components/Tags/StatusTag.astro';

const posts = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

const pull_requests = await getCollection('pull_request');


const getshortDescription = (description:string) => {
	return description.length > 50 ? description.substring(0, 50) + "..." : description;
}

---

<!doctype html>
<html lang="en">
	<head>
		
		<BaseHead title={"Projects / Akhilesh Kr Sharma"} 
			description={SITE_DESCRIPTION} 
  		/>				

		<style> 

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="text-5xl text-neutral-950">Open Source</p>
				<p> I enjoy contributing to open-source projects and have had several pull requests merged. </p>
				<hr>

        <table class="border-separate border-spacing-x-4">
					{
						pull_requests.map(async (pull_request) => {
						  return (
                <tr id={pull_request.id}>
                    <td class="align-top px-2 py-0">
                      <FormattedDate date={pull_request.data.prDate} /> 
                      <StatusTag status={pull_request.data.prStatus}/>
                    </td>
                    <td class="align-top px-2 py-0">
                      <OrgTag link={pull_request.data.orgLink}  title={pull_request.data.orgName} description={pull_request.data.orgDescription}/> 
                      <GithubTag link={pull_request.data.repoLink}  title={pull_request.data.repoName}/> 
                        <p class="text-1xl">  
                            <a href={pull_request.data.prLink}>
                              {pull_request.data.prTitle}
                              —{pull_request.data.prNumber}
                            </a>
                        </p>
                        <p class="text-base mb-1 w-3/4">  
                            {pull_request.data.prDescription}
                        </p>
                        <div>
                          {pull_request.data.orgLabels && 
                              pull_request.data.orgLabels.map((tag)=> (
                              <tag class="text-sm">{tag}</tag>
                          ))}
                          {pull_request.data.prLabels && 
                              pull_request.data.prLabels.map((tag)=> (
                              <tag class="text-sm">{tag}</tag>
                          ))}
                        </div>
                    <br/>
                    </td>
                </tr> 
						);
					})					  
          }
				</table>
			</section>
		</main>
		<Footer />
	</body>
</html>
