---
const today = new Date();
const { highestRating, 
        currentRating, 
        badge, 
        username, 
        platform, 
        plaform_logo_url, 
        url, 
        timeOfRequest
    } = Astro.props;
import FormattedDate from '../../components/FormattedDate.astro';
import RelativeTime from '../RelativeTime.astro';
---

<div class:list={['coding-profile-card', platform]} >   
    <div class="mx-4 my-2">
        <h4> {platform} </h4>
        <h4> <span class="item-context">Rating - </span> <highlight>{highestRating}  </highlight> </h4>
        <h4> <span class="item-context">Badge - </span>{badge}</h4> 
        <!-- <h4> <span class="item-context">Current Rating - </span> {currentRating}</h4>   -->
        <!-- ADD A DESCRIPTION DIV -->
        <div class="description text-sm">
            <hr class="mb-2">
           <p class="w-full"> 
                <a href={url} class="text-sm">Profile Link</a>
            </p> 
        </div>
        <p class="text-xs h-2 text-gray-400 w-full text-center"> Data fetched on - <FormattedDate date={timeOfRequest} /> </p> 
    </div>
</div> 


<style>

 

    .coding-profile-card {
        background: white;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        border: 1px #e6e6e6 solid;
    }

    .coding-profile-card:hover{
        background: #fbfbfb;
    }

    .link-img{
        height: 2rem;
    }

    .Codeforces {
        background-color: #52e7ef0e;
    }

    .Leetcode {
        background-color: #d5913813;
    }

    .Atcoder {
        background-color: #5555550a;
    }

    .coding-profile-card h4 { 
        font-size: 1.2rem;
        padding:  2px 0px 0px 1px;
        font-weight: 400;
        margin: 0px; 
    }
    
    
    .platform-text {
        font-size: 1rem;
        font-weight: 400;
    }

    .item-context{
        color: #3b3b3b;
    }

    .coding-profile-card img {
        object-fit: cover;
        padding: 0px 5px;
        height: 15px;
        filter: grayscale(100%);
    }

    /* DESCRIPTION STYLES */
    .description {
        /* Hidden by default */
        opacity: 0;
        width: 100%;
        max-height: 0px; 
        overflow: hidden;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
        margin-top: 0.5rem; 
        color: #444;
    }

    /* When card is hovered, display the description */
    .coding-profile-card:hover .description {
        /* Make visible */
        opacity: 1;
        max-height: 4rem; /* Adjust as needed */
    }

    
</style>
